In [154]:
from ibapi.client import EClient
from ibapi.wrapper import EWrapper
from ibapi.contract import Contract
from ibapi.common import *  # noqa
from threading import Thread
import time
import nest_asyncio
nest_asyncio.apply()

import pandas as pd
import re
from datetime import datetime, timedelta
import random
import json

In [2]:
class IBApi(EWrapper, EClient):
    def __init__(self):
        EClient.__init__(self, self)
        self.price_data = []
        self.conId = None  # Store the retrieved conId

    def contractDetails(self, reqId, contractDetails):
        self.conId = contractDetails.contract.conId

    def historicalData(self, reqId: int, bar):
        self.price_data.append({
            "time": bar.date,
            "open": bar.open,
            "high": bar.high,
            "low": bar.low,
            "close": bar.close,
            "volume": bar.volume
        })
        

def run_loop(api):
    api.run()

In [3]:
## Initialize the IBApi object
app = IBApi()

# Connect to TWS or IB Gateway
app.connect("127.0.0.1", 7497, clientId=1)

# Start the API thread
api_thread = Thread(target=run_loop, args=(app,), daemon=True)
api_thread.start()

ERROR -1 2104 Market data farm connection is OK:usfarm.nj
ERROR -1 2104 Market data farm connection is OK:cashfarm
ERROR -1 2104 Market data farm connection is OK:usfarm
ERROR -1 2106 HMDS data farm connection is OK:ushmds
ERROR -1 2158 Sec-def data farm connection is OK:secdefil
ERROR 1 322 Error processing request.-'bK' : cause - Duplicate ticker ID for API historical data query
ERROR -1 2105 HMDS data farm connection is broken:ushmds
ERROR -1 2106 HMDS data farm connection is OK:ushmds
ERROR 1 322 Error processing request.-'bK' : cause - Duplicate ticker ID for API historical data query
ERROR -1 2103 Market data farm connection is broken:usfarm.nj
ERROR -1 2104 Market data farm connection is OK:usfarm.nj
ERROR -1 2103 Market data farm connection is broken:usfarm.nj
ERROR -1 2104 Market data farm connection is OK:usfarm.nj
ERROR -1 2103 Market data farm connection is broken:usfarm.nj
ERROR -1 2104 Market data farm connection is OK:usfarm.nj
ERROR -1 2105 HMDS data farm connection is broken:ushmds
ERROR -1 2106 HMDS data farm connection is OK:ushmds
ERROR -1 2103 Market data farm connection is broken:usfarm.nj
ERROR -1 2104 Market data farm connection is OK:usfarm.nj
ERROR -1 2103 Market data farm connection is broken:cashfarm
ERROR -1 2104 Market data farm connection is OK:cashfarm
ERROR -1 2103 Market data farm connection is broken:usfarm
ERROR -1 2104 Market data farm connection is OK:usfarm
ERROR -1 2157 Sec-def data farm connection is broken:secdefil
ERROR -1 2158 Sec-def data farm connection is OK:secdefil

In [126]:
def get_Data(contract, endDate, historicalDataParams):

    app.price_data = []  # Clear previous data


    historical_data_format = endDate.strftime("%Y%m%d %H:%M:%S") + " US/Eastern"
    
    app.reqContractDetails(1, contract)
    time.sleep(2)  # Wait for the conId to be retrieved
    if app.conId is None:
        raise Exception("Failed to retrieve conId for the contract")
    else:
        print('Contract ID: ', app.conId)

    print(historicalDataParams['historicalDataDuration'], historicalDataParams['frequency'])

    app.reqHistoricalData(
        reqId=1,
        contract=historicalDataParams['contract'],
        endDateTime=historical_data_format,  # End of the day in UTC
        durationStr=historicalDataParams['historicalDataDuration'],
        barSizeSetting=historicalDataParams['frequency'],             # 2-hour bars
        whatToShow="MIDPOINT",                # Midpoint prices
        useRTH=1,                             # Regular Trading Hours only
        formatDate=1,
        keepUpToDate=False,
        chartOptions=None                     # No special chart options
    )

    # Wait for news to fetch
    time.sleep(5)
    
    # Save headlines and article content to variables
    #news_headlines = clean_news_headlines(app.headlines)
    prices = app.price_data

    return prices

In [119]:
historicalDataParams = {
    'contract': contract,
    'historicalDataDuration': '1 Y',  # One week
    'frequency': '2 hours',
}

In [120]:
endDate.strftime("%Y%m%d %H:%M:%S") + " US/Eastern"

'20240202 10:00:00 US/Eastern'

In [135]:
def getAllPrices(contract, historicalDataParams):

    endDate = datetime.today().replace(hour=0, minute=0, second=0, microsecond=0)
    
    final_list = []
    total_years = 3
    for _ in range(total_years):
        
        a = get_Data(contract, endDate, historicalDataParams)
        time_str = a[0]['time']
        endDate =  datetime.strptime(time_str, '%Y%m%d  %H:%M:%S').replace(minute=0, second=0, microsecond=0) + timedelta(hours=1)
        print(endDate.strftime("%Y%m%d %H:%M:%S") + " US/Eastern")
        final_list += a
        
    return final_list

In [136]:
f = getAllPrices(contract, historicalDataParams)

1 Y 2 hours
20240202 10:00:00 US/Eastern
1 Y 2 hours
20230203 10:00:00 US/Eastern
1 Y 2 hours
20220204 10:00:00 US/Eastern

In [142]:
df = pd.DataFrame(f)

In [144]:
df.sort_values(by='time')

                    time    open    high     low   close  volume
1993  20220204  09:30:00  120.37  123.55  118.57  121.31      -1
1994  20220204  11:00:00  121.31  122.36  119.83  121.81      -1
1995  20220204  13:00:00  121.81  124.46  121.80  124.42      -1
1996  20220204  15:00:00  124.42  124.97  123.22  123.58      -1
1997  20220207  09:30:00  123.67  127.30  122.77  127.09      -1
...                  ...     ...     ...     ...     ...     ...
990   20250130  15:00:00  118.81  119.10  117.84  118.88      -1
991   20250131  09:30:00  119.10  119.57  117.54  118.88      -1
992   20250131  11:00:00  118.88  119.38  117.24  117.86      -1
993   20250131  13:00:00  117.86  118.26  115.58  116.37      -1
994   20250131  15:00:00  116.37  116.41  115.33  115.90      -1

[2992 rows x 6 columns]

In [150]:
#Implementing this for all russell 1000 stocks

In [151]:
stocks = pd.read_csv("russell-1000-index-12-19-2024.csv")
stocks['Symbol'] = stocks['Symbol'].str.replace('.', ' ')

In [152]:
random.seed(69)
sample_size = 3
stocks = random.sample(stocks['Symbol'].tolist(), sample_size)

In [155]:
data = {}

for stock in stocks:

    #Make a Contract
    contract = Contract()
    contract.symbol = stock
    contract.secType = "STK"
    contract.exchange = "SMART"
    contract.currency = "USD"
    
    current_stock_price = getAllPrices(contract, historicalDataParams)
    data[stock] = current_stock_price

    # Save the current state of data to a JSON file
    with open("prices.json", "w") as f: 
        json.dump(data, f, indent=4)

1 Y 2 hours
20240202 10:00:00 US/Eastern
1 Y 2 hours
20230203 10:00:00 US/Eastern
1 Y 2 hours
20220204 10:00:00 US/Eastern
1 Y 2 hours
20240202 10:00:00 US/Eastern
1 Y 2 hours
20230203 10:00:00 US/Eastern
1 Y 2 hours
20220204 10:00:00 US/Eastern
1 Y 2 hours
20240202 10:00:00 US/Eastern
1 Y 2 hours
20230203 10:00:00 US/Eastern
1 Y 2 hours
20220204 10:00:00 US/Eastern

In [105]:
app.disconnect()